In [ ]:
import pandas as pd
pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,4/8/66,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,49,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,5/14/1965,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,50,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,8/12/65,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,50,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,2/15/1968,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,47,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,8/8/68,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,7/4/58,M,NaN,...,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,3/8/07,0-1 Miles,Europe,57,1
29480,248,AW00029480,NaN,Nina,W,Raji,0,11/10/60,S,NaN,...,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,1/18/2008,0-1 Miles,Europe,54,1
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1/5/60,S,NaN,...,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2/13/2006,0-1 Miles,Europe,55,1
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,3/5/59,M,NaN,...,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,3/22/2007,0-1 Miles,Europe,56,1
29483,217,AW00029483,NaN,Jsus,L,Navarro,0,12/8/59,M,NaN,...,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,3/13/2007,0-1 Miles,Europe,55,1

In [ ]:
data = pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")
print ( data.head() )
print ( " - - - - - - - - - - - - - - - - - - - - " )
print ( data.tail() )

             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   NaN        Jon          V
11001                  37           AW00011001   NaN     Eugene          L
11002                  31           AW00011002   NaN      Ruben        NaN
11003                  11           AW00011003   NaN    Christy        NaN
11004                  19           AW00011004   NaN  Elizabeth        NaN

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0     4/8/66             M    NaN  ...
11001          Huang          0  5/14/1965             S    NaN  ...
11002         Torres          0    8/12/65             M    NaN  ...
11003            Zhu          0  2/15/1968             S    NaN  ...
11004        Johnson          0     8/8/68             S    NaN  ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St           NaN
11001                    0               1           2243 W St.           NaN
11002                    1               1     5844 Linden Land           NaN
11003                    0               1     1825 Village Pl.           NaN
11004                    1               4  7553 Harness Circle           NaN

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11003        1 (11) 500 555-0162            7/1/05      5-10 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        49         1
11001        50         1
11002        50         1
11003        47         1
11004        47         1

[5 rows x 31 columns]
 - - - - - - - - - - - - - - - - - - - -
             GeographyKey CustomerAlternateKey Title FirstName MiddleName  \
CustomerKey
29479                 209           AW00029479   NaN     Tommy          L
29480                 248           AW00029480   NaN      Nina          W
29481                 120           AW00029481   NaN      Ivan        NaN
29482                 179           AW00029482   NaN   Clayton        NaN
29483                 217           AW00029483   NaN     Jsus          L

            LastName  NameStyle BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                     ...
29479           Tang          0    7/4/58             M    NaN  ...
29480           Raji          0  11/10/60             S    NaN  ...
29481           Suri          0    1/5/60             S    NaN  ...
29482          Zhang          0    3/5/59             M    NaN  ...
29483        Navarro          0   12/8/59             M    NaN  ...

            HouseOwnerFlag NumberCarsOwned               AddressLine1  \
CustomerKey
29479                    1               0          111, rue Maillard
29480                    1               0          9 Katherine Drive
29481                    0               0                Knaackstr 4
29482                    1               0     1080, quai de Grenelle
29483                    1               0  244, rue de la Centenaire

             AddressLine2                Phone DateFirstPurchase  \
CustomerKey
29479                 NaN  1 (11) 500 555-0136            3/8/07
29480                 NaN  1 (11) 500 555-0146         1/18/2008
29481                 NaN  1 (11) 500 555-0144         2/13/2006
29482                 NaN  1 (11) 500 555-0137         3/22/2007
29483                 NaN  1 (11) 500 555-0141         3/13/2007

            CommuteDistance  Region Age BikeBuyer
CustomerKey
29479             0-1 Miles  Europe  57         1
29480             0-1 Miles  Europe  54         1
29481             0-1 Miles  Europe  55         1
29482             0-1 Miles  Europe  56         1
29483             0-1 Miles  Europe  55         1

[5 rows x 31 columns]

Comprobación de valores nulos

In [ ]:
for i in data['BirthDate']:
  timeData = pd.to_datetime( i )
print( " Mes : " , timeData.month)
print( " Dia : " , timeData.day)
print( " Ano : " , timeData.year)

 Mes :  12
 Dia :  8
 Ano :  2059

In [ ]:
for i in data.columns :
  if(len(data[i].unique().tolist()) < 10):
    print(i, "-->", data[i].unique().tolist())

Title --> [nan, 'Mr.', 'Ms.', 'Mrs.', 'Sr.', 'Ms']
NameStyle --> [0]
MaritalStatus --> ['M', 'S']
Suffix --> [nan, 'Jr.']
Gender --> ['M', 'F']
TotalChildren --> [2, 3, 0, 5, 4, 1]
NumberChildrenAtHome --> [0, 3, 5, 4, 1, 2]
EnglishEducation --> ['Bachelors', 'Partial College', 'High School', 'Partial High School', 'Graduate Degree']
SpanishEducation --> ['Licenciatura', 'Estudios universitarios (en curso)', 'Educaci¢n secundaria', 'Educaci¢n secundaria (en curso)', 'Estudios de postgrado']
FrenchEducation --> ['Bac + 4', 'Baccalaur\x82at', 'Bac + 2', 'Niveau bac', 'Bac + 3']
EnglishOccupation --> ['Professional', 'Management', 'Skilled Manual', 'Clerical', 'Manual']
SpanishOccupation --> ['Profesional', 'Gesti¢n', 'Obrero especializado', 'Administrativo', 'Obrero']
FrenchOccupation --> ['Cadre', 'Direction', 'Technicien', 'Employ\x82', 'Ouvrier']
HouseOwnerFlag --> [1, 0]
NumberCarsOwned --> [0, 1, 4, 2, 3]
CommuteDistance --> ['1-2 Miles', '0-1 Miles', '2-5 Miles', '5-10 Miles', '10+ Miles']
Region --> ['Pacific', 'North America', 'Europe']
BikeBuyer --> [1, 0]

Eliminar las columnas

In [ ]:
processedData = data.drop(['CustomerAlternateKey' , 'BikeBuyer'] , axis = 'columns')

Crear un subconjunto de datos con algunas de las columnas que deseemos, para poder trabajar con ellas

In [ ]:
subsetData = data.get(['Title' , 'FirstName' , 'MiddleName' , 'LastName'])

 Aplicar técnicas de imputación de datos a nuestro dataframe

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values = np.nan , strategy = 'constant', fill_value = np.nan)
X = imputer.fit_transform(data)

In [ ]:
print(X)

[[26 'AW00011000' nan ... 'Pacific' 49 1]
 [37 'AW00011001' nan ... 'Pacific' 50 1]
 [31 'AW00011002' nan ... 'Pacific' 50 1]
 ...
 [120 'AW00029481' nan ... 'Europe' 55 1]
 [179 'AW00029482' nan ... 'Europe' 56 1]
 [217 'AW00029483' nan ... 'Europe' 55 1]]

pasar una variable categórica a una numérica para poder tener las medias

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
newData = OrdinalEncoder().fit_transform(data[[ 'Title' , 'FirstName' , 'MiddleName' , 'LastName']])

Corrige las fechas de nacimiento.

In [ ]:
if 'BirthDate' in data.columns:
  data['BirthDate'] = pd.to_datetime(data['BirthDate']).dt.strftime('%m/%d/%Y') #Pasamos todas las fechas incorrectas a un solo formato
print(data.BirthDate)

<ipython-input-28-efead01e3708>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['BirthDate'] = pd.to_datetime(data['BirthDate']).dt.strftime('%m/%d/%Y') #Pasamos todas las fechas incorrectas a un solo formato

CustomerKey
11000    04/08/2066
11001    05/14/1965
11002    08/12/2065
11003    02/15/1968
11004    08/08/2068
            ...
29479    07/04/2058
29480    11/10/2060
29481    01/05/2060
29482    03/05/2059
29483    12/08/2059
Name: BirthDate, Length: 18484, dtype: object

In [ ]:
for index, row in data.iterrows():
  birthdate = pd.to_datetime(row['BirthDate']) #Cogemos el valor actual y lo pasamos a str
  if birthdate.year > 2024:
      birthdate_str = row['BirthDate'] #pasamos la columna
      year = int(birthdate_str[-4:]) #contamos solo el año
      if year > 2024:
          new_year = year - 100
          new_birthdate_str = birthdate_str[:-4] + str(new_year) #combinamos la fecha original y la nueva
          data.loc[index, 'BirthDate'] = new_birthdate_str
print(data.BirthDate)

CustomerKey
11000    04/08/1966
11001    05/14/1965
11002    08/12/1965
11003    02/15/1968
11004    08/08/1968
            ...
29479    07/04/1958
29480    11/10/1960
29481    01/05/1960
29482    03/05/1959
29483    12/08/1959
Name: BirthDate, Length: 18484, dtype: object

Actualiza la columna Age con la información correcta.

In [ ]:
for i, row in data.iterrows():
  birthdate = pd.to_datetime(row['BirthDate']) #Cogemos el valor actual y lo pasamos a str
  birthdate_str = row['BirthDate']
  birthyear = int(birthdate_str[-4:])
  updateAge = 2024 - birthyear #Restamos la fecha actual
  data.loc[i, 'Age'] = updateAge
print(data.Age)

CustomerKey
11000    58
11001    59
11002    59
11003    56
11004    56
         ..
29479    66
29480    64
29481    64
29482    65
29483    65
Name: Age, Length: 18484, dtype: int64

Imputa valores faltantes bien asignándole un nuevo valor (ejemplo de “None” visto antes), o bien asignándole la media o cualquier otro método.

In [ ]:
#imputer = SimpleImputer(missing_values = np.nan , strategy = 'constant', fill_value = 'None')
#data = imputer.fit_transform(data)
data = data.fillna(' None ')

Una vez que el conjunto de datos está limpio, analiza si existen registros duplicados y elimínalos.

In [ ]:
data = data.drop_duplicates()
print(f"Número de registros duplicados eliminados: {data.duplicated().sum()}")

Número de registros duplicados eliminados: 0

Realiza de nuevo un análisis exploratorio de nuestros datos para comprobar que todo está correcto.

In [ ]:
print ( data.head() )
print ( " - - - - - - - - - - - - - - - - - - - - " )
print ( data.tail() )
print ( " - - - - - - - - - - - - - - - - - - - - " )
print(data.isnull().sum().sort_values(ascending = False))

             GeographyKey CustomerAlternateKey   Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   None         Jon          V
11001                  37           AW00011001   None      Eugene          L
11002                  31           AW00011002   None       Ruben      None
11003                  11           AW00011003   None     Christy      None
11004                  19           AW00011004   None   Elizabeth      None

            LastName  NameStyle   BirthDate MaritalStatus  Suffix  ...  \
CustomerKey                                                        ...
11000           Yang          0  04/08/1966             M   None   ...
11001          Huang          0  05/14/1965             S   None   ...
11002         Torres          0  08/12/1965             M   None   ...
11003            Zhu          0  02/15/1968             S   None   ...
11004        Johnson          0  08/08/1968             S   None   ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St         None
11001                    0               1           2243 W St.         None
11002                    1               1     5844 Linden Land         None
11003                    0               1     1825 Village Pl.         None
11004                    1               4  7553 Harness Circle         None

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11003        1 (11) 500 555-0162            7/1/05      5-10 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        58         1
11001        59         1
11002        59         1
11003        56         1
11004        56         1

[5 rows x 31 columns]
 - - - - - - - - - - - - - - - - - - - -
             GeographyKey CustomerAlternateKey   Title FirstName MiddleName  \
CustomerKey
29479                 209           AW00029479   None      Tommy          L
29480                 248           AW00029480   None       Nina          W
29481                 120           AW00029481   None       Ivan      None
29482                 179           AW00029482   None    Clayton      None
29483                 217           AW00029483   None      Jsus          L

            LastName  NameStyle   BirthDate MaritalStatus  Suffix  ...  \
CustomerKey                                                        ...
29479           Tang          0  07/04/1958             M   None   ...
29480           Raji          0  11/10/1960             S   None   ...
29481           Suri          0  01/05/1960             S   None   ...
29482          Zhang          0  03/05/1959             M   None   ...
29483        Navarro          0  12/08/1959             M   None   ...

            HouseOwnerFlag NumberCarsOwned               AddressLine1  \
CustomerKey
29479                    1               0          111, rue Maillard
29480                    1               0          9 Katherine Drive
29481                    0               0                Knaackstr 4
29482                    1               0     1080, quai de Grenelle
29483                    1               0  244, rue de la Centenaire

             AddressLine2                Phone DateFirstPurchase  \
CustomerKey
29479               None   1 (11) 500 555-0136            3/8/07
29480               None   1 (11) 500 555-0146         1/18/2008
29481               None   1 (11) 500 555-0144         2/13/2006
29482               None   1 (11) 500 555-0137         3/22/2007
29483               None   1 (11) 500 555-0141         3/13/2007

            CommuteDistance  Region Age BikeBuyer
CustomerKey
29479             0-1 Miles  Europe  66         1
29480             0-1 Miles  Europe  64         1
29481             0-1 Miles  Europe  64         1
29482             0-1 Miles  Europe  65         1
29483             0-1 Miles  Europe  65         1

[5 rows x 31 columns]
 - - - - - - - - - - - - - - - - - - - -
GeographyKey            0
SpanishEducation        0
Age                     0
Region                  0
CommuteDistance         0
DateFirstPurchase       0
Phone                   0
AddressLine2            0
AddressLine1            0
NumberCarsOwned         0
HouseOwnerFlag          0
FrenchOccupation        0
SpanishOccupation       0
EnglishOccupation       0
FrenchEducation         0
EnglishEducation        0
CustomerAlternateKey    0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
EmailAddress            0
Gender                  0
Suffix                  0
MaritalStatus           0
BirthDate               0
NameStyle               0
LastName                0
MiddleName              0
FirstName               0
Title                   0
BikeBuyer               0
dtype: int64