In [ ]:
import pandas as pd
pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,4/8/66,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,49,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,5/14/1965,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,50,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,8/12/65,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,50,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,2/15/1968,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,47,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,8/8/68,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,47,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,7/4/58,M,NaN,...,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,3/8/07,0-1 Miles,Europe,57,1
29480,248,AW00029480,NaN,Nina,W,Raji,0,11/10/60,S,NaN,...,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,1/18/2008,0-1 Miles,Europe,54,1
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1/5/60,S,NaN,...,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2/13/2006,0-1 Miles,Europe,55,1
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,3/5/59,M,NaN,...,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,3/22/2007,0-1 Miles,Europe,56,1
29483,217,AW00029483,NaN,JÂ‚sus,L,Navarro,0,12/8/59,M,NaN,...,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,3/13/2007,0-1 Miles,Europe,55,1

In [ ]:
data = pd.read_csv('MailCustomer.csv', index_col = 'CustomerKey', sep = ';' , encoding = "ISO-8859 -1")
print ( data.head() )
print ( " - - - - - - - - - - - - - - - - - - - - " )
print ( data.tail() )

             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   NaN        Jon          V
11001                  37           AW00011001   NaN     Eugene          L
11002                  31           AW00011002   NaN      Ruben        NaN
11003                  11           AW00011003   NaN    Christy        NaN
11004                  19           AW00011004   NaN  Elizabeth        NaN

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0     4/8/66             M    NaN  ...
11001          Huang          0  5/14/1965             S    NaN  ...
11002         Torres          0    8/12/65             M    NaN  ...
11003            Zhu          0  2/15/1968             S    NaN  ...
11004        Johnson          0     8/8/68             S    NaN  ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St           NaN
11001                    0               1           2243 W St.           NaN
11002                    1               1     5844 Linden Land           NaN
11003                    0               1     1825 Village Pl.           NaN
11004                    1               4  7553 Harness Circle           NaN

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11003        1 (11) 500 555-0162            7/1/05      5-10 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        49         1
11001        50         1
11002        50         1
11003        47         1
11004        47         1

[5 rows x 31 columns]
 - - - - - - - - - - - - - - - - - - - -
             GeographyKey CustomerAlternateKey Title FirstName MiddleName  \
CustomerKey
29479                 209           AW00029479   NaN     Tommy          L
29480                 248           AW00029480   NaN      Nina          W
29481                 120           AW00029481   NaN      Ivan        NaN
29482                 179           AW00029482   NaN   Clayton        NaN
29483                 217           AW00029483   NaN     JÂ‚sus          L

            LastName  NameStyle BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                     ...
29479           Tang          0    7/4/58             M    NaN  ...
29480           Raji          0  11/10/60             S    NaN  ...
29481           Suri          0    1/5/60             S    NaN  ...
29482          Zhang          0    3/5/59             M    NaN  ...
29483        Navarro          0   12/8/59             M    NaN  ...

            HouseOwnerFlag NumberCarsOwned               AddressLine1  \
CustomerKey
29479                    1               0          111, rue Maillard
29480                    1               0          9 Katherine Drive
29481                    0               0                Knaackstr 4
29482                    1               0     1080, quai de Grenelle
29483                    1               0  244, rue de la Centenaire

             AddressLine2                Phone DateFirstPurchase  \
CustomerKey
29479                 NaN  1 (11) 500 555-0136            3/8/07
29480                 NaN  1 (11) 500 555-0146         1/18/2008
29481                 NaN  1 (11) 500 555-0144         2/13/2006
29482                 NaN  1 (11) 500 555-0137         3/22/2007
29483                 NaN  1 (11) 500 555-0141         3/13/2007

            CommuteDistance  Region Age BikeBuyer
CustomerKey
29479             0-1 Miles  Europe  57         1
29480             0-1 Miles  Europe  54         1
29481             0-1 Miles  Europe  55         1
29482             0-1 Miles  Europe  56         1
29483             0-1 Miles  Europe  55         1

[5 rows x 31 columns]

La primera vez que abrimos el archivo utilizando la librerÃ­a de pandas, podemos comprobar que se trata de una lista de clientes
los cuales tenemos distintos datos de cada uno de ellos. La mayorÃ­a de estos datos son comunes. Como pueden ser el nombre,
apellidos, direcciÃ³n, telÃ©fono, etc.

In [ ]:
print( data.iloc[0]) # Muestra la primera fila
print( data.iloc[: ,0]) # Muestra la primera columna
print( data.iloc[0:5]) # Primeras cinco filas
print( data.iloc[: , 0:5]) # Primeras cinco columnas
print( data.iloc[[0 ,2 ,1]]) # Primera , tercera y segunda filas

GeographyKey                                   26
CustomerAlternateKey                   AW00011000
Title                                         NaN
FirstName                                     Jon
MiddleName                                      V
LastName                                     Yang
NameStyle                                       0
BirthDate                                  4/8/66
MaritalStatus                                   M
Suffix                                        NaN
Gender                                          M
EmailAddress            jon24@adventure-works.com
YearlyIncome                                90000
TotalChildren                                   2
NumberChildrenAtHome                            0
EnglishEducation                        Bachelors
SpanishEducation                     Licenciatura
FrenchEducation                           Bac + 4
EnglishOccupation                    Professional
SpanishOccupation                     Profesional
FrenchOccupation                            Cadre
HouseOwnerFlag                                  1
NumberCarsOwned                                 0
AddressLine1                      3761 N. 14th St
AddressLine2                                  NaN
Phone                         1 (11) 500 555-0162
DateFirstPurchase                       7/22/2005
CommuteDistance                         1-2 Miles
Region                                    Pacific
Age                                            49
BikeBuyer                                       1
Name: 11000, dtype: object
CustomerKey
11000     26
11001     37
11002     31
11003     11
11004     19
        ...
29479    209
29480    248
29481    120
29482    179
29483    217
Name: GeographyKey, Length: 18484, dtype: int64
             GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   NaN        Jon          V
11001                  37           AW00011001   NaN     Eugene          L
11002                  31           AW00011002   NaN      Ruben        NaN
11003                  11           AW00011003   NaN    Christy        NaN
11004                  19           AW00011004   NaN  Elizabeth        NaN

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0     4/8/66             M    NaN  ...
11001          Huang          0  5/14/1965             S    NaN  ...
11002         Torres          0    8/12/65             M    NaN  ...
11003            Zhu          0  2/15/1968             S    NaN  ...
11004        Johnson          0     8/8/68             S    NaN  ...

            HouseOwnerFlag NumberCarsOwned         AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0      3761 N. 14th St           NaN
11001                    0               1           2243 W St.           NaN
11002                    1               1     5844 Linden Land           NaN
11003                    0               1     1825 Village Pl.           NaN
11004                    1               4  7553 Harness Circle           NaN

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11003        1 (11) 500 555-0162            7/1/05      5-10 Miles  Pacific
11004        1 (11) 500 555-0131         7/26/2005       1-2 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        49         1
11001        50         1
11002        50         1
11003        47         1
11004        47         1

[5 rows x 31 columns]
             GeographyKey CustomerAlternateKey Title  FirstName MiddleName
CustomerKey
11000                  26           AW00011000   NaN        Jon          V
11001                  37           AW00011001   NaN     Eugene          L
11002                  31           AW00011002   NaN      Ruben        NaN
11003                  11           AW00011003   NaN    Christy        NaN
11004                  19           AW00011004   NaN  Elizabeth        NaN
...                   ...                  ...   ...        ...        ...
29479                 209           AW00029479   NaN      Tommy          L
29480                 248           AW00029480   NaN       Nina          W
29481                 120           AW00029481   NaN       Ivan        NaN
29482                 179           AW00029482   NaN    Clayton        NaN
29483                 217           AW00029483   NaN      JÂ‚sus          L

[18484 rows x 5 columns]
             GeographyKey CustomerAlternateKey Title FirstName MiddleName  \
CustomerKey
11000                  26           AW00011000   NaN       Jon          V
11002                  31           AW00011002   NaN     Ruben        NaN
11001                  37           AW00011001   NaN    Eugene          L

            LastName  NameStyle  BirthDate MaritalStatus Suffix  ...  \
CustomerKey                                                      ...
11000           Yang          0     4/8/66             M    NaN  ...
11002         Torres          0    8/12/65             M    NaN  ...
11001          Huang          0  5/14/1965             S    NaN  ...

            HouseOwnerFlag NumberCarsOwned      AddressLine1  AddressLine2  \
CustomerKey
11000                    1               0   3761 N. 14th St           NaN
11002                    1               1  5844 Linden Land           NaN
11001                    0               1        2243 W St.           NaN

                           Phone DateFirstPurchase CommuteDistance   Region  \
CustomerKey
11000        1 (11) 500 555-0162         7/22/2005       1-2 Miles  Pacific
11002        1 (11) 500 555-0184           7/10/05       2-5 Miles  Pacific
11001        1 (11) 500 555-0110         7/18/2005       0-1 Miles  Pacific

            Age BikeBuyer
CustomerKey
11000        49         1
11002        50         1
11001        50         1

[3 rows x 31 columns]

In [ ]:
print( data.columns) # Lista con los nombres de las columnas
print( data.info()) # Informacion util de los datos , como el tipo de datos

Index(['GeographyKey', 'CustomerAlternateKey', 'Title', 'FirstName',
       'MiddleName', 'LastName', 'NameStyle', 'BirthDate', 'MaritalStatus',
       'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome', 'TotalChildren',
       'NumberChildrenAtHome', 'EnglishEducation', 'SpanishEducation',
       'FrenchEducation', 'EnglishOccupation', 'SpanishOccupation',
       'FrenchOccupation', 'HouseOwnerFlag', 'NumberCarsOwned', 'AddressLine1',
       'AddressLine2', 'Phone', 'DateFirstPurchase', 'CommuteDistance',
       'Region', 'Age', 'BikeBuyer'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 18484 entries, 11000 to 29483
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GeographyKey          18484 non-null  int64
 1   CustomerAlternateKey  18484 non-null  object
 2   Title                 101 non-null    object
 3   FirstName             18484 non-null  object
 4   MiddleName            10654 non-null  object
 5   LastName              18484 non-null  object
 6   NameStyle             18484 non-null  int64
 7   BirthDate             18484 non-null  object
 8   MaritalStatus         18484 non-null  object
 9   Suffix                3 non-null      object
 10  Gender                18484 non-null  object
 11  EmailAddress          18484 non-null  object
 12  YearlyIncome          18484 non-null  int64
 13  TotalChildren         18484 non-null  int64
 14  NumberChildrenAtHome  18484 non-null  int64
 15  EnglishEducation      18484 non-null  object
 16  SpanishEducation      18484 non-null  object
 17  FrenchEducation       18484 non-null  object
 18  EnglishOccupation     18484 non-null  object
 19  SpanishOccupation     18484 non-null  object
 20  FrenchOccupation      18484 non-null  object
 21  HouseOwnerFlag        18484 non-null  int64
 22  NumberCarsOwned       18484 non-null  int64
 23  AddressLine1          18484 non-null  object
 24  AddressLine2          312 non-null    object
 25  Phone                 18484 non-null  object
 26  DateFirstPurchase     18484 non-null  object
 27  CommuteDistance       18484 non-null  object
 28  Region                18484 non-null  object
 29  Age                   18484 non-null  int64
 30  BikeBuyer             18484 non-null  int64
dtypes: int64(9), object(22)
memory usage: 4.5+ MB
None

In [ ]:
print(data[['FirstName' , 'LastName']]) # Acceso al nombre y apellido
print(data.loc[: , ['FirstName', 'LastName']]) # Acceso al nombre y apellido
#Si queremos saber cuantos valores distintos tiene cada una de nuestras columnas, podemos hacer lo siguiente:
for i in data . columns :
  print(i ," -->" , len ( data[i].unique().tolist()))

             FirstName LastName
CustomerKey
11000              Jon     Yang
11001           Eugene    Huang
11002            Ruben   Torres
11003          Christy      Zhu
11004        Elizabeth  Johnson
...                ...      ...
29479            Tommy     Tang
29480             Nina     Raji
29481             Ivan     Suri
29482          Clayton    Zhang
29483            JÂ‚sus  Navarro

[18484 rows x 2 columns]
             FirstName LastName
CustomerKey
11000              Jon     Yang
11001           Eugene    Huang
11002            Ruben   Torres
11003          Christy      Zhu
11004        Elizabeth  Johnson
...                ...      ...
29479            Tommy     Tang
29480             Nina     Raji
29481             Ivan     Suri
29482          Clayton    Zhang
29483            JÂ‚sus  Navarro

[18484 rows x 2 columns]
GeographyKey  --> 336
CustomerAlternateKey  --> 18484
Title  --> 6
FirstName  --> 670
MiddleName  --> 45
LastName  --> 375
NameStyle  --> 1
BirthDate  --> 8252
MaritalStatus  --> 2
Suffix  --> 2
Gender  --> 2
EmailAddress  --> 18484
YearlyIncome  --> 16
TotalChildren  --> 6
NumberChildrenAtHome  --> 6
EnglishEducation  --> 5
SpanishEducation  --> 5
FrenchEducation  --> 5
EnglishOccupation  --> 5
SpanishOccupation  --> 5
FrenchOccupation  --> 5
HouseOwnerFlag  --> 2
NumberCarsOwned  --> 5
AddressLine1  --> 12802
AddressLine2  --> 167
Phone  --> 8890
DateFirstPurchase  --> 1124
CommuteDistance  --> 5
Region  --> 3
Age  --> 71
BikeBuyer  --> 2

ComprobaciÃ³n de valores nulos

In [ ]:
print(data.isnull().sum().sort_values(ascending = False))

Suffix                  18481
Title                   18383
AddressLine2            18172
MiddleName               7830
GeographyKey                0
SpanishOccupation           0
FrenchOccupation            0
HouseOwnerFlag              0
NumberCarsOwned             0
AddressLine1                0
Phone                       0
FrenchEducation             0
DateFirstPurchase           0
CommuteDistance             0
Region                      0
Age                         0
EnglishOccupation           0
EnglishEducation            0
SpanishEducation            0
CustomerAlternateKey        0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
EmailAddress                0
Gender                      0
MaritalStatus               0
BirthDate                   0
NameStyle                   0
LastName                    0
FirstName                   0
BikeBuyer                   0
dtype: int64

In [ ]:
processedData = data.fillna(" None ")
print(processedData.isnull().sum().sort_values(ascending = False)) # Comprobamos que ya no hay valores nulos

GeographyKey            0
SpanishEducation        0
Age                     0
Region                  0
CommuteDistance         0
DateFirstPurchase       0
Phone                   0
AddressLine2            0
AddressLine1            0
NumberCarsOwned         0
HouseOwnerFlag          0
FrenchOccupation        0
SpanishOccupation       0
EnglishOccupation       0
FrenchEducation         0
EnglishEducation        0
CustomerAlternateKey    0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
EmailAddress            0
Gender                  0
Suffix                  0
MaritalStatus           0
BirthDate               0
NameStyle               0
LastName                0
MiddleName              0
FirstName               0
Title                   0
BikeBuyer               0
dtype: int64

In [ ]:
data.head()

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,4/8/66,M,NaN,...,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,7/22/2005,1-2 Miles,Pacific,49,1
11001,37,AW00011001,NaN,Eugene,L,Huang,0,5/14/1965,S,NaN,...,0,1,2243 W St.,NaN,1 (11) 500 555-0110,7/18/2005,0-1 Miles,Pacific,50,1
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,8/12/65,M,NaN,...,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,7/10/05,2-5 Miles,Pacific,50,1
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,2/15/1968,S,NaN,...,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,7/1/05,5-10 Miles,Pacific,47,1
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,8/8/68,S,NaN,...,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,7/26/2005,1-2 Miles,Pacific,47,1